:root {
    --primary-color: white;
    --primary-background: darkblue;
    --secondary-color: var(--primary-background);
    --secondary-background: var(--primary-color);
    --visited-link-color: darkred;

    --main-width: 1024px;
    --me-width: 768px;
    --resources-width: 256px;

    --debug-outer-color: red;
    --debug-border-style-solid: solid;
    --debug-body-border-color: var(--primary-background);
    /*--debug-body-border-color: var(--debug-outer-color);/**/

    --debug-level-2-color: orange;
    --debug-header-border-color: var(--primary-background);
    /*--debug-header-border-color: var(--debug-level-2-color);/**/
    --debug-main-border-color: var(--primary-background);
    /*--debug-main-border-color: var(--debug-level-2-color);/**/
    --debug-footer-border-color: var(--primary-background);
    /*--debug-footer-border-color: var(--debug-level-2-color);/**/

    --debug-level-3-color: yellow;
    --debug-course-title-border-color: var(--primary-background);
    /*--debug-course-title-border-color: var(--debug-level-3-color);/**/
    --debug-header-menu-border-color: var(--primary-background);
    /*--debug-header-menu-border-color: var(--debug-level-3-color);/**/
    --debug-main-name-border-color: var(--primary-background);
    /*--debug-main-name-border-color: var(--debug-level-3-color);/**/
    --debug-main-card-border-color: var(--secondary-background);
    /*--debug-main-card-border-color: var(--debug-level-3-color);/**/

    --debug-level-4-color: green;
    --debug-header-menu-item-border-color: var(--secondary-background);
    /*--debug-header-menu-item-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-title-border-color: var(--secondary-background);
    /*--debug-main-card-title-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-image-me-border-color: var(--primary-background);
    /*--debug-main-card-image-me-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-info-me-border-color: var(--primary-background);
    /*--debug-main-card-info-me-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-location-border-color: var(--primary-background);
    /*--debug-main-card-location-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-image-location-description-border-color: var(--primary-background);
    /*--debug-main-card-image-location-description-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-image-location-description-border-color: var(--primary-background);
    /*--debug-main-card-image-location-description-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-info-location-border-color: var(--primary-background);
    /*--debug-main-card-info-location-border-color: var(--debug-level-4-color);/**/
    --debug-main-card-menu-border-color: var(--primary-background);
    /*--debug-main-card-menu-border-color: var(--debug-level-4-color);/**/

    --debug-level-5-color: blue;
    --debug-main-card-menu-item-border-color: var(--primary-background);
    /*--debug-main-card-menu-item-border-color: var(--debug-level-5-color);/**/

    --debug-level-6-color: indigo;
    --debug-level-7-color: violet;

  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
.body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 10rem auto 5rem;
    --body-full-columns-start: 1;
    --body-full-columns-end: 4;
    --body-centered-columns-start: 2;
    --body-centered-columns-end: 3;
    --body-header-rows-start: 1;
    --body-header-rows-end: 2;
    --body-main-rows-start: 2;
    --body-main-rows-end: 3;
    --body-footer-rows-start: 3;
    --body-footer-rows-end: 4;
    color: var(--primary-color);
    background-color: var(--primary-background);

    border-style: var(--debug-border-style-solid);
    border-color: var(--debug-body-border-color);
}
.header {
    grid-column: var(--body-full-columns-start)/var(--body-full-columns-end);
    grid-row: var(--body-header-rows-start)/var(--body-header-rows-end);
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 2rem 8rem;
    --header-full-columns-start: 1;
    --header-full-columns-end:7;
    --header-title-columns-start:2;
    --header-title-columns-end:4;
    --header-title-rows-start:1;
    --header-title-rows-end:2;
    --header-menu-rows-start:2;
    --header-menu-rows-end:3;

    border-style: var(--debug-border-style-solid);
    border-color: var(--debug-header-border-color);
}
.title {
    grid-column: var(--header-title-columns-start)/var(--header-title-columns-end);
    grid-row: var(--header-title-rows-start)/var(--header-title-rows-end);
    display:block;
    text-align: right;
    margin-top: 1rem;
    margin-right: 2rem;

    border-style: var(--debug-border-style-solid);
    border-color: var(--debug-course-title-border-color);
}
.main {
    grid-column: var(--body-centered-columns-start)/var(--body-centered-columns-end);
    grid-row: var(--body-main-rows-start)/var(--body-main-rows-end);
    max-width: var(--main-width);
    display: grid;
    grid-template-columns: 10rem auto 1fr 10rem;
    grid-template-rows: 1rem auto 1rem;
    --main-full-columns-start: 1;
    --main-full-columns-end:5;
    --main-me-columns-start:1;
    --main-me-columns-end:3;
    --main-resources-columns-start:3;
    --main-resources-columns-end:4;
    --main-rows-start:2;
    --main-rows-end:3;

    border-style: var(--debug-border-style-solid);
    border-color: var(--debug-main-border-color);
}
.footer {
    grid-column: var(--body-full-columns-start)/var(--body-full-columns-end);
    grid-row: var(--body-footer-rows-start)/var(--body-footer-rows-end);
    text-align: center;

    border-style: var(--debug-border-style-solid);
    border-color: var(--debug-footer-border-color);
}
